.view-konfiguracja-wyniki .grid {
    display: grid;    
    grid-template-columns: max-content auto;
    align-items: center;
}

.view-konfiguracja-wyniki input,
.view-konfiguracja-wyniki select {
    width: 100%;
}