.view-konfiguracja-sms .grid {
    display: grid;
    grid-template-columns: min-content min-content auto;
    align-items: center;
}

.view-konfiguracja-sms input,
.view-konfiguracja-sms select {
    width: 100%;
}

.view-konfiguracja-sms .separator {
    height: 1em;
    grid-column-end: span 3;
}

.view-konfiguracja-sms .sms-logo-container {
    grid-row-end: span 2;
}
.view-konfiguracja-sms .sms-logo {
    padding-right: 1em;
    width: 120px;
}