.sm-button-close {
    width: 16px;
    height: 16px;
    opacity: 0.3;
    display: inline-block;
    /* background: var(--main-button-background); */
    content: " ";
    text-decoration: none;
    color: var(--main-button-color);
    font-size: 1em;
    font-weight: 400;
    padding: 1em;
    /* border: 1px solid var(--main-button-background); */
    cursor: pointer;
    text-align: center;
    white-space: nowrap;
}

.sm-button-close:hover {
    color: var(--main-button-color-hover);
    /* background-color: var(--main-button-background-hover);
    border: 1px solid var(--main-button-background-hover); */
    opacity: 1;
}
.sm-button-close:focus {
    /* color: var(--main-button-color-hover);
    background-color: var(--main-button-background-hover);
    border: 1px solid var(--main-button-background-hover);
    text-decoration: underline;
    outline: none; */
}
.sm-button-close:before, .sm-button-close:after {
    position: absolute;
    right: 15px;
    content: ' ';
    height: 16px;
    width: 2px;
    background-color: #333;
  }
  .sm-button-close:before {
    transform: rotate(45deg);
  }
  .sm-button-close:after {
    transform: rotate(-45deg);
  }
  
.sm-button-close:disabled,
.sm-button-close[disabled],
.sm-button-close.disabled {
    background: var(--main-button-background-grey);
    border: 1px solid var(--main-button-background-grey);
    cursor: default;
}
.sm-button-close:disabled:hover,
.sm-button-close[disabled]:hover,
.sm-button-close.disabled:hover {
    color: var(--main-button-color);
    background: var(--main-button-background-grey);
    border: 1px solid var(--main-button-background-grey);
    text-decoration: underline;
    outline: none;
}
.sm-button-close:disabled:focus
.sm-button-close[disabled]:focus
.sm-button-close.disabled:focus {
    color: var(--main-button-color);
    background: var(--main-button-background-grey);
    border: 1px solid var(--main-button-background-grey);
    text-decoration: underline;
    outline: none;
}
