.sm-button {
    display: inline-block;
    background: var(--main-button-background);
    text-decoration: none;
    color: var(--main-button-color);
    font-size: 1em;
    font-weight: 400;
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 0.25em;
    padding-bottom: 0.25em;
    border: 1px solid var(--main-button-background);
    /* border-radius: 0.25em; */
    cursor: pointer;
    box-shadow: var(--main-button-box-shadow);
    text-align: center;
    white-space: nowrap;
}

/* --main-button-box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25); */

.sm-button:hover {
    color: var(--main-button-color-hover);
    background-color: var(--main-button-background-hover);
    border: 1px solid var(--main-button-background-hover);
}
.sm-button:focus {
    color: var(--main-button-color-hover);
    background-color: var(--main-button-background-hover);
    border: 1px solid var(--main-button-background-hover);
    text-decoration: underline;
    outline: none;
}
.sm-button.red-button {
    background: var(--main-button-background-red);
    border: 1px solid var(--main-button-background-red);
}
.sm-button.red-button:hover {
    color: var(--main-button-color-hover);
    background: var(--main-button-background-red-hover);
    border: 1px solid var(--main-button-background-red-hover);
}
.sm-button.red-button:focus {
    color: var(--main-button-color-hover);
    background: var(--main-button-background-red-hover);
    border: 1px solid var(--main-button-background-red-hover);
}
.sm-button.green-button {
    background: var(--main-button-background-green);
    border: 1px solid var(--main-button-background-green);
}
.sm-button.green-button:hover {
    color: var(--main-button-color-hover);
    background: var(--main-button-background-green-hover);
    border: 1px solid var(--main-button-background-green-hover);
}
.sm-button.green-button:focus {
    color: var(--main-button-color-hover);
    background: var(--main-button-background-green-hover);
    border: 1px solid var(--main-button-background-green-hover);
}
.sm-button.orange-button {
    background: var(--main-button-background-orange);
    border: 1px solid var(--main-button-background-orange);;
}
.sm-button.orange-button:hover {
    color: var(--main-button-color-hover);
    background: var(--main-button-background-orange-hover);
    border: 1px solid var(--main-button-background-orange-hover);
}
.sm-button.orange-button:focus {
    color: var(--main-button-color-hover);
    background: var(--main-button-background-orange-hover);
    border: 1px solid var(--main-button-background-orange-hover);
}
.sm-button.grey-button {
    background: var(--main-button-background-grey);
    border: 1px solid #757575;
}
.sm-button.grey-button:hover {
    color: var(--main-button-color-hover);
    background: var(--main-button-background-hover);
    border: 1px solid var(--main-button-background-hover);
}
.sm-button.grey-button:focus {
    color: var(--main-button-color-hover);
    background: var(--main-button-background-hover);
    border: 1px solid var(--main-button-background-hover);
}

.sm-button:disabled,
.sm-button[disabled],
.sm-button.disabled {
    background: var(--main-button-background-grey);
    border: 1px solid var(--main-button-background-grey);
    cursor: default;
}
.sm-button:disabled:hover,
.sm-button[disabled]:hover,
.sm-button.disabled:hover {
    color: var(--main-button-color);
    background: var(--main-button-background-grey);
    border: 1px solid var(--main-button-background-grey);
    text-decoration: underline;
    outline: none;
}
.sm-button:disabled:focus
.sm-button[disabled]:focus
.sm-button.disabled:focus {
    color: var(--main-button-color);
    background: var(--main-button-background-grey);
    border: 1px solid var(--main-button-background-grey);
    text-decoration: underline;
    outline: none;
}
