 .sm-toast {
    font-family: 'Roboto'; 
}
/*
.sm-toast-show {
    visibility: visible; 
    animation: sm-toast-fadein 0.5s, sm-toast-fadeout 0.5s 2.5s;
}

@keyframes sm-toast-fadein {
    from {
        bottom: 0;
        opacity: 0;
    }
    to {
        bottom: 30px;
        opacity: 1;
    }
}

@keyframes sm-toast-fadeout {
    from {
        bottom: 30px;
        opacity: 1;
    }
    to {
        bottom: 0;
        opacity: 0;
    }
} */
