.view-portal-main{
    max-width: 1400px;
    margin: 0 auto;
}
.v-application .rounded-bl-xl {
    border-bottom-left-radius: 300px !important;
}
.v-application .rounded-br-xl {
    border-bottom-right-radius: 300px !important;
}

.g-recaptcha {
    padding-top: 0.3em;
    display: table-cell;
}