.sm-filter {
    margin-left: 0.5em;
    margin-right: 0.5em;
    display: flex;
    align-items: center;
}
.sm-filter input {    
    width: 100%;
}
.sm-filter .icon {    
    font-size: 1.2rem;
    padding-left: 0.6em;
    color: var(--main-button-background);
    cursor: pointer;
    text-shadow: var(--main-text-shadow);
}

.sm-filter .icon:hover {    
    color: var(--main-button-background-hover);
}
