.form-aktualnosci .grid {
    display: grid;
    grid-template-columns: min-content auto;
    align-items: center;
}
.form-aktualnosci input,
.form-aktualnosci textarea,
.form-aktualnosci select {
    width: 100%;
}
.form-aktualnosci .tresc {
    height: 10em;
}
