.view-konto-dokument-tozsamosci .grid {
    display: grid;    
    grid-template-columns: min-content auto;
    align-items: center;
}

.view-konto-dokument-tozsamosci input,
.view-konto-dokument-tozsamosci select {
    width: 100%;
}