.view-konto-dane-podstawowe .grid {
    display: grid;    
    grid-template-columns: min-content auto;
    align-items: center;
}

.view-konto-dane-podstawowe input,
.view-konto-dane-podstawowe select {
    width: 100%;
}