.dialog-login .form-dialog-login .form-dialog-content {
    max-width: 400px;
}

.dialog-login .grid {
    display: grid;
    grid-template-columns: min-content auto;
    align-items: center;
}

.dialog-login input {
    width: 100%;
}

.dialog-login .buttons-panel {
    text-align: center;
}

.dialog-login .a {
    color: var(--main-button-background);
    cursor: pointer;
}
.dialog-login .a:hover {
    color: var(--main-button-background-hover);
}

.dialog-login .login-message {
    text-align: center;
}

.dialog-login .logo {
    text-align: center;
    max-width: 300px;
    height: auto;
}

.dialog-login .button {
    min-width: var(--main-button-min-width);
}

.dialog-login .submit {
    position: absolute !important;
    top: -9999px !important;
    left: -9999px !important;
}
