.view-import {    
}

.view-import table.opis {
    border-collapse: collapse;    
    width: 100% 
}
.view-import table.opis th {
    text-align: left;
}
.view-import table.opis th, 
.view-import table.opis td {            
    padding: 0.25em;    
    padding-right: 0.5em;
    padding-left: 0.5em;
    vertical-align: middle;
    border-bottom: 1px solid #CCC;  
}
.view-import table.opis th {
    font-weight: 500;
    border-bottom: 1px solid black;  
    padding-bottom: 0.5em;  
}
.view-import table.opis tr:nth-child(2) td {
    padding-top: 0.5em;
}
.view-import .button-fill {
    display: block;
}

.view-import table.opis td.right {
    text-align: left;
}
.view-import table.opis td.center {
    text-align: center;
}
.view-import table.opis td.button-td {
    width: 1%;
}
.view-import table.opis th.button-td {
    width: 1%;
}

/*--------*/

.view-import table.import {
    border-collapse: collapse;    
    width: 75% 
}
.view-import table.import th {
    text-align: left;
}
.view-import table.import th, 
.view-import table.import td {            
    padding: 0.25em;    
    padding-right: 0.5em;
    padding-left: 0.5em;
    vertical-align: middle;
}
.view-import table.import th {
    font-weight: 500;
    padding-bottom: 0.5em;  
}
.view-import table.import tr:nth-child(2) td {
    padding-top: 0.5em;
}
.view-import .button-fill {
    display: block;
}

.view-import table.import td.right {
    text-align: left;
}
.view-import table.import td.center {
    text-align: center;
}
.view-import table.import td.button-td {
    width: 1%;
}
.view-import table.import th.button-td {
    width: 1%;
}
.view-import table.import td.first {
    width: 50%;
}
.view-import table.import td .select {
    width: 100%;
}