.form-uzytkownicy-grupa .grid {
    display: grid;
    grid-template-columns: max-content auto;
    align-items: center;
}
.form-uzytkownicy-grupa input,
.form-uzytkownicy-grupa select {
    width: 100%;
}
.form-uzytkownicy-grupa input[type='checkbox'] {
    width: min-content;
}