.view-pacjenci {
}
.view-pacjenci table.pacjenci {
    border-collapse: collapse;
    width: 100%
}
.view-pacjenci table.pacjenci th {
    text-align: left;
}
.view-pacjenci table.pacjenci th,
.view-pacjenci table.pacjenci td {
    padding: 0.25em;
    padding-right: 0.5em;
    padding-left: 0.5em;
    vertical-align: middle;
    border-bottom: 1px solid #CCC;
}
.view-pacjenci table.pacjenci th {
    font-weight: 500;
    border-bottom: 1px solid black;
    padding-bottom: 0.5em;
}
.view-pacjenci table.pacjenci tr:nth-child(2) td {
    padding-top: 0.5em;
}
.view-pacjenci .button-fill {
    display: block;
}
.view-pacjenci table.pacjenci td.right {
    text-align: left;
}
.view-pacjenci table.pacjenci td.center {
    text-align: center;
}
.view-pacjenci table.pacjenci td.button-td {
    width: 1%;
    white-space: nowrap;
}
.view-pacjenci table.pacjenci span {
    display: none;
    color: var(--main-low-visibility-color);
    font-weight: normal;
    padding-right: 1em;
    align-self: center;
}
.view-pacjenci table.pacjenci .lp {
    color: var(--main-low-visibility-color)
}
.view-pacjenci .filter {
    padding-bottom: 1em;
}
.view-pacjenci .footer {
    display: flex;
}
.view-pacjenci .record-counter {
    white-space: nowrap;
    padding: 0.5em;
    color: var(--main-low-visibility-color)
}
.view-pacjenci .load-button-container {
    width: 100%;
    text-align: center;
    padding: 0.5em;
}
@media (max-width: 950px) {
    .view-pacjenci table.pacjenci th {
        display: none;
        border-bottom: none;
        padding-right: 0px;
    }
    .view-pacjenci table.pacjenci th.button-td {
        display: flex;
        margin-left: auto;
    }
    .view-pacjenci table.pacjenci tr {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        border-bottom: 1px solid #CCC;
    }
    .view-pacjenci table.pacjenci td {
        width: calc(50% - 1rem);
        border-bottom: none;
    }
    .view-pacjenci table.pacjenci span {
        display: block;
    }
    .view-pacjenci table.pacjenci .button-td {
        padding-bottom: 0.5em;
    }    
}
@media (max-width: 450px) {
    .view-pacjenci table.pacjenci td {
        width: 100%;
    }
}