.menu-logowanie {
    font-family: Montserrat;
    font-weight: 500;
    width: 100%;
}
.menu-logowanie .container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    margin-top: 0px;
    margin-left: -0.25em;
    margin-right: -0.25em;
}
.menu-logowanie ul {
    list-style-type: none;
    padding: 0;
    overflow: hidden;
}
.menu-logowanie li {
    vertical-align: middle;
    white-space: nowrap;
}
.menu-logowanie li a {
    color: var(--main-button-color);
    display: block;
    text-align: center;
    text-decoration: none;
    margin: 0.25em;
    border: solid 0.25em transparent;
    border-radius: 0.25em;
    white-space: nowrap;
    padding: 0.25em;
}
.menu-logowanie li a:focus {
    text-decoration: underline;
    outline: none;
}
.menu-logowanie li a:hover:not(.router-link-active) {
    background-color: var(--main-button-background-hover);
    color: var(--main-button-color-hover);
}
.menu-logowanie li a:not(.router-link-active) {
    background-color: var(--main-accent-color);
}
.menu-logowanie a.router-link-active {
    color: var(--main-button-color-hover);
    background-color: var(--main-button-background-hover);
    /* background-color: red; */
}