.sm-file-input {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.sm-file-input + label {
    display: inline-block;
    background: var(--main-button-background);
    text-decoration: none;
    color: var(--main-button-color);
    font-size: 1em;
    font-weight: 400;
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 0.25em;
    padding-bottom: 0.25em;
    border: 1px solid var(--main-button-background);
    border-radius: 0.25em;
    cursor: pointer;
    box-shadow: var(--main-button-box-shadow);
    text-align: center;
}

.sm-file-input:focus + label,
.sm-file-input.has-focus + label,
.sm-file-input + label:hover {
    color: var(--main-button-color-hover);
    background-color: var(--main-button-background-hover);
    border: 1px solid var(--main-button-background-hover);
}
