.sm-loading-toast .loading {
    min-width: 250px; /* Set a default minimum width */
    margin-left: -125px; /* Divide value of min-width by 2 */
    background-color: #616161; /* Black background color */    
    color: #fff; /* White text color */
    text-align: center; /* Centered text */
    border-radius: var(--main-dialog-border-radius); /* Rounded borders */
    padding: 16px; /* Padding */
    position: fixed; /* Sit on top of the screen */
    z-index: 1; /* Add a z-index if needed */
    left: 50%; /* Center the snackbar */
    bottom: 30px; /* 30px from the bottom */
    box-shadow: var(--main-button-box-shadow);
}

.sm-loading-toast .fa {
    margin-right: 0.5em;
}

.sm-loading-toast .fade-enter-active,
.sm-loading-toast .fade-leave-active {
    transition: opacity 0.5s;
}
.sm-loading-toast .fade-enter,
.sm-loading-toast .fade-leave-to {
    opacity: 0;
}