.view-aktualnosci-opublikowane {    
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.view-aktualnosci-opublikowane .article {
    margin: 20px;
    padding: 20px;
    width: 500px;
    min-height: 200px;
    display: grid;
    grid-template-rows: 40px 50px 1fr 50px;
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.25);
    transition: all 0.2s;
}

.view-aktualnosci-opublikowane .article:hover {
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.4);
    transform: scale(1.01);
}

.view-aktualnosci-opublikowane .title {
    font-family: Roboto-Slab;
    font-size: 1.5em;
    font-weight: 500;    
    padding-bottom: 0.5em;
    color: var(--main-accent-color);
}

.view-aktualnosci-opublikowane .article:not(:last-of-type) {
    margin-bottom: 1em;
}

.view-aktualnosci-opublikowane .content {
    padding-top: 0.5em;
}

.view-aktualnosci-opublikowane .content p {
    margin-top: 0;
    margin-bottom: 0;
}

.view-aktualnosci-opublikowane .content p:not(:last-of-type) {
    margin-bottom: 0.5em;
}

.view-aktualnosci-opublikowane .meta {
    color: var(--main-accent-color);
}