.dialog-password-reset-email .form-dialog-content {
    max-width: 400px;
}
.dialog-password-reset-email .grid {
    display: grid;
    grid-template-columns: min-content auto;
    align-items: center;
}
.dialog-password-reset-email input {
    width: 100%;
}