/* roboto-regular - latin_latin-ext */
@font-face {
    font-family: 'Roboto-Slab';
    font-style: normal;
    font-weight: 400;
    src: local('Roboto Slab'), local('RobotoSlab-Regular'),
        url('../webfonts/roboto-slab-v11-latin-ext_latin-regular.woff2') format('woff2'),
        /* Chrome 26+, Opera 23+, Firefox 39+ */
        url('../webfonts/roboto-slab-v11-latin-ext_latin-500.woff') format('woff');
        /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* roboto-500 - latin_latin-ext */
@font-face {
    font-family: 'Roboto-Slab';
    font-style: normal;
    font-weight: 500;
    src: local('Roboto Slab Medium'), local('RobotoSlab-Medium'),
        url('../webfonts/roboto-slab-v11-latin-ext_latin-500.woff2') format('woff2'),
        /* Chrome 26+, Opera 23+, Firefox 39+ */
        url('../webfonts/roboto-slab-v11-latin-ext_latin-500.woff') format('woff');
        /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* roboto-700 - latin_latin-ext */
@font-face {
    font-family: 'Roboto-Slab';
    font-style: normal;
    font-weight: 700;
    src: local('Roboto Slab Bold'), local('RobotoSlab-Bold'),
        url('../webfonts/roboto-slab-v11-latin-ext_latin-700.woff2') format('woff2'),
        /* Chrome 26+, Opera 23+, Firefox 39+ */
        url('../webfonts/roboto-slab-v11-latin-ext_latin-700.woff') format('woff');
        /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}