.view-zmiana-hasla .container {
    overflow: auto;
    display: grid;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.view-zmiana-hasla .content {
    max-width: var(--form-width);
    width: 100%;   
}

.view-zmiana-hasla .header {
    font-family: Roboto-Slab;
    font-size: 1.5em;
    font-weight: 500;
    padding-bottom: 0.5em;
    color: var(--main-accent-color);
}
.view-zmiana-hasla .message-error {
    font-size: 1em;
    padding: 1em;
    text-align: center;
}
.view-zmiana-hasla .grid {
    display: grid;
    grid-template-columns: min-content auto;
    align-items: center;
}
.view-zmiana-hasla input {
    width: 100%;
}

.view-zmiana-hasla .uwaga {    
    color: var( --main-error-message-color);
}