.view-aktualnie-zalogowani {
}

.view-aktualnie-zalogowani .filterContainer {
    display: flex;
}

.view-aktualnie-zalogowani .combo {
    white-space: nowrap;
    padding-bottom: 1em;
}

.view-aktualnie-zalogowani table.zalogowani {
    border-collapse: collapse;
    width: 100%
}
.view-aktualnie-zalogowani table.zalogowani th {
    text-align: left;
}
.view-aktualnie-zalogowani table.zalogowani th,
.view-aktualnie-zalogowani table.zalogowani td {
    padding: 0.25em;
    padding-right: 0.5em;
    padding-left: 0.5em;
    vertical-align: middle;
    border-bottom: 1px solid #CCC;
}
.view-aktualnie-zalogowani table.zalogowani th {
    font-weight: 500;
    border-bottom: 1px solid black;
    padding-bottom: 0.5em;
}
.view-aktualnie-zalogowani table.zalogowani tr:nth-child(2) td {
    padding-top: 0.5em;
}
.view-aktualnie-zalogowani .button-fill {
    display: block;
}
.view-aktualnie-zalogowani table.zalogowani td.right {
    text-align: left;
}
.view-aktualnie-zalogowani table.zalogowani td.center {
    text-align: center;
}
.view-aktualnie-zalogowani table.zalogowani td.button-td {
    width: 1%;
    white-space: nowrap;
}
.view-aktualnie-zalogowani table.zalogowani span {
    display: none;
    color: var(--main-low-visibility-color);
    font-weight: normal;
    padding-right: 1em;
    align-self: center;
}
.view-aktualnie-zalogowani .footer {
    display: flex;
}
.view-aktualnie-zalogowani .record-counter {
    white-space: nowrap;
    padding: 0.5em;
    color: var(--main-low-visibility-color)
}
.view-aktualnie-zalogowani .load-button-container {
    width: 100%;
    text-align: center;
    padding: 0.5em;
}
.view-aktualnie-zalogowani .filter {
    width: 100%;
    padding-bottom: 1em;
}
@media (max-width: 950px) {
    .view-aktualnie-zalogowani table.zalogowani th {
        display: none;
        border-bottom: none;
        padding-right: 0px;
    }
    .view-aktualnie-zalogowani table.zalogowani th.button-td {
        display: flex;
        margin-left: auto;
    }
    .view-aktualnie-zalogowani table.zalogowani tr {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        border-bottom: 1px solid #CCC;
    }
    .view-aktualnie-zalogowani table.zalogowani td {
        width: calc(50% - 1rem);
        border-bottom: none;
    }
    .view-aktualnie-zalogowani table.zalogowani span {
        display: block;
    }
    .view-aktualnie-zalogowani table.zalogowani .button-td {
        padding-bottom: 0.5em;
    }
}
@media (max-width: 450px) {
    .view-aktualnie-zalogowani table.zalogowani td {
        width: 100%;
    }
}