.view-uzytkownicy-uprawnienia {
}
.view-uzytkownicy-uprawnienia table.uprawnienia {
    border-collapse: collapse;
    width: 100%
}
.view-uzytkownicy-uprawnienia table.uprawnienia th {
    text-align: left;
}
.view-uzytkownicy-uprawnienia table.uprawnienia th,
.view-uzytkownicy-uprawnienia table.uprawnienia td {
    padding: 0.25em;
    padding-right: 0.5em;
    padding-left: 0.5em;
    vertical-align: middle;
    border-bottom: 1px solid #CCC;
}
.view-uzytkownicy-uprawnienia table.uprawnienia th {
    font-weight: 500;
    border-bottom: 1px solid black;
    padding-bottom: 0.5em;
}
.view-uzytkownicy-uprawnienia table.uprawnienia tr:nth-child(2) td {
    padding-top: 0.5em;
}
.view-uzytkownicy-uprawnienia .button-fill {
    display: block;
}
.view-uzytkownicy-uprawnienia table.uprawnienia td.right {
    text-align: left;
}
.view-uzytkownicy-uprawnienia table.uprawnienia td.center {
    text-align: center;
}
.view-uzytkownicy-uprawnienia table.uprawnienia td.button-td {
    width: 1%;
    white-space: nowrap;
}
.view-uzytkownicy-uprawnienia table.uprawnienia span {
    display: none;
    color: var(--main-low-visibility-color);
    font-weight: normal;
    padding-right: 1em;
    align-self: center;
}
.icon-blue,
.icon-red {
    width: 1rem;
    padding-right: 0.5em;
}
@media (max-width: 950px) {
    .view-uzytkownicy-uprawnienia table.uprawnienia th {
        display: none;
        border-bottom: none;
        padding-right: 0px;
    }
    .view-uzytkownicy-uprawnienia table.uprawnienia th.button-td {
        display: flex;
        margin-left: auto;
    }
    .view-uzytkownicy-uprawnienia table.uprawnienia tr {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        border-bottom: 1px solid #CCC;
    }
    .view-uzytkownicy-uprawnienia table.uprawnienia td {
        width: calc(50% - 1rem);
        border-bottom: none;
    }
    .view-uzytkownicy-uprawnienia table.uprawnienia span {
        display: block;
    }
    .view-uzytkownicy-uprawnienia table.uprawnienia .button-td {
        padding-bottom: 0.5em;
    }
}
@media (max-width: 450px) {
    .view-uzytkownicy-uprawnienia table.uprawnienia td {
        width: 100%;
    }
}