.menu-user {
    position: absolute;    
    margin-top: 1em;
    text-align: left;
    background-color: var(--menu-main-inactive-tab-background-color);
    color: var(--main-button-color);
    box-shadow: var(--main-button-box-shadow);
  
}

.menu-user ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: var(--menu-main-inactive-tab-background-color);
}


.menu-user li {    
    cursor: pointer;
    padding: 0;
    white-space: nowrap;
    text-decoration: none;
}



.menu-user li p {
    margin: 0;
    padding: 0.5em 1em;
}

.menu-user li p:hover {
    background-color: var(--main-button-background-hover);
    color: var(--main-button-color-hover);
}

.menu-user li p:focus {        
    text-decoration: underline;
    outline: none;
}
